* {
  
  padding: 0;
  margin: 0;
}
html{
  display: flex;
  justify-content: center;
}
.nav-container1 {
  background-color: #232f3e;
  position: relative;
}
.header-free-shiping{
  background-color: #364859;
  width: 1339px;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.grid-nav-item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-nav-item1 {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 20%;
}
.flex-nav-item2 {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.img-logo{
width: 120px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #f19900;
}
.icons {
  color: white;
}
.icons:hover {
  color: #f19900;
}
.h-icons {
  display: flex;
  margin: 7px;
  gap: 16px;
  margin-left: 1rem;
  font-size: 18px;
}
.search-box {
  width: 1063px;
  height: 33px;
  /* margin-left: 5rem; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-right {
  padding: 10px;
  background: #f19900;
  color: black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-right:hover {
  background: #e68a00;
}
.item2 {
  text-decoration: none;
  float: right;
  margin-top: 10px;
}
#btn-h {
  text-decoration: none;
}
#btn-h:hover {
  background-color: black;
}
img:hover{
  transform: scaleZ(1.5);
}
.grid-img {
  display: grid;
  grid-auto-rows: 352px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 100%
}
.grid-img-item {
  object-fit: cover;
max-width: 100%;
  width: 100%;
  margin-top: 44px;
}
 .input-container{
  display: flex;
  justify-content: flex-start;
  margin-top: 10p;
  margin-top: 2px;
  max-width: 100%;
  width: 100%;
}

.input-container-search{
  padding: 16px;
}
.nav-item4{
display: grid;
grid-auto-rows: 100px;
grid-template-columns: repeat(1fr, 10);
}
.arrival-parent{
  display: grid;
  grid-auto-rows: 324px;
  grid-template-columns: repeat(6,1fr);
  flex-wrap: wrap;
  text-align: center;
  padding-top: 41px;
}
.img-item1{
  color: #146eb4;
  /* font-family: Roboto,sans-serif; */
  font-size: 17px;
  font-weight: 300;
}
h1{
  text-align: center;
  color: black;
  margin-top: 89px;
}
.img-sub-item1{
display: flex;
justify-content: center;
}
.flex-nav-item3{
  margin-right: 14px;
  
}
.flex-nav-item4{
  margin-right: 14px;
  
}
















/* @media (min-width:400px) and (max-width:700px){
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.header-free-shiping {
  background-color: #364859;
  color: white;
  width: 41rem;
  text-align: center;
}


a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    background-color: yellowgreen;
}
.h-icons {
  position: absolute;
  margin-left: 50px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  gap: 3px;
}

h1{
  background-color: #e68a00;
}

} */